PLATFORM=aarch64-linux-gnu
CC='ccache clang'
CXX='ccache clang++'
CCACHE_DIR='/ccache'
NPROC=12
SKIP_SLOW_TESTS=1

# CFLAGS is aspirational: php's autoconf setup currently goes out of its way to ignore it, so to avoid further confusion, I'm not setting it anymore
# CFLAGS="-g -O2 -Wall -Werror=implicit-function-declaration -Werror=format-security -fstack-protector-strong -fstack-clash-protection -Wformat -mbranch-protection=standard  -fsigned-char -fno-strict-aliasing"

# CFLAGS used by debian
# CFLAGS="-g -O2 -Werror=implicit-function-declaration -fstack-protector-strong -fstack-clash-protection -Wformat -Werror=format-security -mbranch-protection=standard -O2 -Wall -pedantic -fsigned-char -fno-strict-aliasing -DOPENSSL_SUPPRESS_DEPRECATED -g"
